.btn {
	width: 40px;
	height: 40px;
	background-color: #f1f1f3;
	border-radius: 50%;
	text-align: center;
	line-height: 41px;
	box-shadow: 2px 2px 2px lightgrey;
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
  }
  
  .btn:hover {
	filter: brightness(105%);
  }
  
  .btn:active{
	filter: brightness(90%);
  }

  .btnOrange {
	background-color: #ff9d0a;
	border-radius: 50%;
	color: #ffffff;
  }
  
  /* .btn.bg-grey {
	background-color: #a1a0a3;
  }  */
  
  .btn.bg-orange {
	background-color: #ff9d0a;
  }